.gradBorder {
    border: 2px solid white;
    border-radius: 22px;
}
.gradText {
    color:white
}
.shadow-inner-white {
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.10) inset, 0px 0px 200px 0px rgba(0, 0, 0, 0.50);
backdrop-filter: blur(40px);

  }
.form2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
}
.glow-text {
    text-shadow: 0 0 10px #1ABE6C;
  }
.smoth-t {
    transition: all 0.8s;
}
.glow-text-p{
    text-shadow: 0 0 10px #A036FC;
}