@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "GoodTimesHv";
  src: url("../../fonts/GoodTimes/GoodTimesHv-Regular.eot");
  src: url("../../fonts/GoodTimes/GoodTimesHv-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/GoodTimes/GoodTimesHv-Regular.woff2") format("woff2"),
    url("../../fonts/GoodTimes/GoodTimesHv-Regular.woff") format("woff"),
    url("../../fonts/GoodTimes/GoodTimesHv-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Good Times Light */
@font-face {
  font-family: "GoodTimesLt";
  src: url("../../fonts/GoodTimes/GoodTimesLt-Regular.eot");
  src: url("../../fonts/GoodTimes/GoodTimesLt-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/GoodTimes/GoodTimesLt-Regular.woff2") format("woff2"),
    url("../../fonts/GoodTimes/GoodTimesLt-Regular.woff") format("woff"),
    url("../../fonts/GoodTimes/GoodTimesLt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Good Times Regular */
@font-face {
  font-family: "GoodTimesRg";
  src: url("../../fonts/GoodTimes/GoodTimesRg-Regular.eot");
  src: url("../../fonts/GoodTimes/GoodTimesRg-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/GoodTimes/GoodTimesRg-Regular.woff2") format("woff2"),
    url("../../fonts/GoodTimes/GoodTimesRg-Regular.woff") format("woff"),
    url("../../fonts/GoodTimes/GoodTimesRg-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Good Times Bold */
@font-face {
  font-family: "GoodTimesRg";
  src: url("../../fonts/GoodTimes/GoodTimesRg-Bold.eot");
  src: url("../../fonts/GoodTimes/GoodTimesRg-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/GoodTimes/GoodTimesRg-Bold.woff2") format("woff2"),
    url("../../fonts/GoodTimes/GoodTimesRg-Bold.woff") format("woff"),
    url("../../fonts/GoodTimes/GoodTimesRg-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}



.mentors-section {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.mentor-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.mentor-header h2, .mentor-header>p:first-child  {
  font-family: "GoodTimesHv";
}

.mentors-section p {
  color: var(--White, #e6f4f3);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  width: 100%;
}
@media (max-width: 528px) {
}
.mentors-section .special-p {
  color: var(--Green, #03BAE4);
  text-shadow: 0px 0px 15px #03BAE4;
  font-family: Good Times;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 4.4px;
  text-transform: uppercase;
  margin: 0;
}
.mentors-section h2 {
  color: var(--White, #e6f4f3);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px; /* 138.462% */
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
@media (max-width: 528px) {
  .mentors-section h2 {
    font-size: 25px;
    text-align: center;
    line-height: 35px;
  }
}
.mentorSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.mentorImg {
  display: flex;
  width: 100%;
  backdrop-filter: blur(15px);
  border-radius: 20px;
}
.swiper {
  width: 80%;
  overflow: hidden;
  position: relative;
}
.swiper-slide {
  width: 350px !important;
  background-color: transparent;
}
.mentors {
  overflow: hidden !important;
  height: 370px !important;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .swiper-slide .mentor-name {
    font-size: 16px !important;
  }
  .swiper-slide .mentor-information {
    bottom: -290px !important;
  }
  .swiper-slide:hover .mentor-information {
    bottom: 0 !important;
  }
}
@media (max-width: 528px) {
  .swiper-slide {
    width: 255px !important;
    height: 350px !important;
  }
  .sponsorImg {
    height: 100%;
  }
}
.swiper-slide .mentor-information {
  position: absolute;
  bottom: -330px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: -300px;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.05) inset;
  border-radius: 20px;
  padding: 24px 0;
  background: rgba(0, 0, 0, 0.80);
  transition: .3s;
}
.swiper-slide:hover .mentor-information {
  bottom: 0;
}
.swiper-slide .mentor-name {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "GoodTimesRgb";
    text-transform: uppercase;
    background: linear-gradient(90deg, #1ABE6C 0%, #03BAE4 100%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.swiper-slide-active {
  transform: scale(1.2); /* Increase scale for centered slide */
  opacity: 0.88; /* Maintain full opacity for centered slide */
  backdrop-filter: blur(13px);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1) inset;
  border-radius: 20px;
}
.swiper-slide:not(.swiper-slide-active) {
  filter: opacity(0.65); /* Reduce opacity for non-centered slides */
}
#shadow-right {
  height: 100%;
  width: 40%;
  position: absolute;
  bottom: 0px;
  left: -2px;
  z-index: 5;
  background: linear-gradient(to right, #1f1f1f, transparent);
  pointer-events: none;
}
#shadow-left {
  height: 100%;
  width: 40%;
  position: absolute;
  bottom: 0px;
  right: -4px;
  z-index: 4;
  background: linear-gradient(to left, #1f1f1f, transparent);
  pointer-events: none;
}
