@tailwind base;
@tailwind components;
@tailwind utilities;


.event {
  transform: translateY(-200%);
  opacity: 0;
  animation: eventid 1s ease forwards;
}

@keyframes eventid {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}




.table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

th {
  text-align: center;
  position: relative;
}

th,
td {
  padding: 1rem;
}




thead > tr > th::before {
  content: "";
  width: 1px;
  height: 300px;
  position: absolute;
  background-color: white;
  left: 0;
  height: 0;
}

.th::before {
  animation: slideInHeight 0.5s ease 1s forwards;
}

@keyframes slideInHeight {
  from {
    height: 0;
  }
  to {
    height: 300px; /* Set the desired final height */
  }
}

tr {
  position: relative;
}

tr::after {
  content: "";
  width: 500px;
  height: 1px;
  position: absolute;
  background-color: white;
  left: -30px;
  bottom: 0;
  visibility: hidden;
  display: block;
}
.tr::after {
  animation: slideInWidth 0.5s ease 1.5s forwards;
}

@keyframes slideInWidth {
  from {
    width: 0px;
  }
  to {
    visibility: visible;
    width: 500px;
  }
}

th > p,
td > p {
  transform: translateY(200%);
  opacity: 0;
  animation: fadeIn 1s ease 2s forwards;
}

.day-header {
  color: white;
  animation: clor 0.5s ease 3s forwards;
}

@keyframes clor {
  from {
    color: white;
  }
  to {
    color: #1abe6c;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.date {
  opacity: 0;
  box-shadow: 0px 0px 80px 0px #1ABE5EA6;
  animation: bgShow 0.5s ease 3s forwards;
}

@keyframes bgShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    background-color: #1abe6c;
  }
}

.hide {
  position: absolute;
  top: -17px;
  left: -15px;
  opacity: 0;
  transform: translateX(-15px); /* Initial transform */
}

.date:hover .hide {
  opacity: 1;
  animation: hhh 0.5s ease 3s;
}

@keyframes hhh {
  from {
    opacity: 0;
    transform: translateX(-30px); /* Initial transform */
  }
  to {
    opacity: 1;
    transform: translateX(-15px); /* Final transform */
  }
}

.date-number {
  position: relative;
  z-index: 1; /* Ensure the number appears above the "GO" text */
}
