@font-face {
  font-family: "GoodTimesHv";
  src: url("../../fonts/GoodTimes/GoodTimesHv-Regular.eot");
  src: url("../../fonts/GoodTimes/GoodTimesHv-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/GoodTimes/GoodTimesHv-Regular.woff2") format("woff2"),
    url("../../fonts/GoodTimes/GoodTimesHv-Regular.woff") format("woff"),
    url("../../fonts/GoodTimes/GoodTimesHv-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sponsors-section {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sponsor-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sponsors-section p {
  color: var(--White, #e6f4f3);
  text-align: center;
  font-family: Poppins;
  @apply text-base lg:text-[1.5rem] text-center ; 
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  width: min(90%, 800px);
}

@media (max-width: 528px) {
}
.sponsors-section .special-p {
  color: var(--Green, #1abe6c);
  text-shadow: 0px 0px 15px #1abe6c;
  font-family: "GoodTimesHv";
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 4.4px;
  text-transform: uppercase;
  margin: 0;
}
.sponsors-section h2 {
  color: var(--White, #e6f4f3);
  font-family: "GoodTimesHv";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px; /* 138.462% */
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
@media (max-width: 528px) {
  .sponsors-section h2 {
    font-size: 30px;
  }
}
.sponsorSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.sponsorImg {
  display: flex;
  width: 100%;
  backdrop-filter: blur(15px);
  border-radius: 35px;
}
.swiper {
  width: 80%;
  overflow: hidden;
  position: relative;
}
.swiper-slide {
  width: 350px !important;
  background-color: transparent;
  transform: scale(1.2); /* Increase scale for centered slide */
  opacity: 0.88; /* Maintain full opacity for centered slide */
  backdrop-filter: blur(13px);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1) inset;
  border-radius: 35px;
}
@media (max-width: 768px) {
  .swiper-slide {
    width: 300px !important;
  }
}
@media (max-width: 528px) {
  .swiper-slide {
    width: 269px !important;
    height: 269px;
    left: -3px;
  }
  .sponsorImg {
    height: 100%;
  }
}
.swiper-slide:not(.swiper-slide-active) {
  filter: opacity(0.65); /* Reduce opacity for non-centered slides */
}
#shadow-right {
  height: 100%;
  width: 40%;
  position: absolute;
  bottom: 0px;
  left: 0%;
  z-index: 5;
  background: linear-gradient(to right, #1f1f1f, transparent);
  pointer-events: none;
}
#shadow-left {
  height: 100%;
  width: 40%;
  position: absolute;
  bottom: 0px;
  right: -1px;
  z-index: 4;
  background: linear-gradient(to left, #1f1f1f, transparent);
  pointer-events: none;
}
